<head>
  <meta charset="utf-8" />
  <title>Hacktoberfest 2021</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/main.css" />
  <link rel="icon" href="{{site.url}}{{site.baseurl}}/assets/favicon-2021.ico" type="image/gif" sizes="256x256" />
  <script> var base_url = '{{ site.url}}{{site.baseurl}}'; </script>
  <script src="{{site.url}}{{site.baseurl}}/assets/mode-switcher.js"></script>
</head>
