<head>
  <meta charset="utf-8" />
  <title>Hacktoberfest 2020</title>
  <meta http-equiv="refresh" content="30">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <style>
    div {
      display: table;
      margin-right: auto;
      margin-left: auto;
    }
  </style>
  <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/css/main.css" />
  <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/css/bootstrap.min.uncss.css" />
  <link
    rel="icon"
    href="{{site.url}}{{site.baseurl}}/assets/img/favicon.ico"
    type="image/gif"
    sizes="256x256"
  />
  <script>
      var base_url = '{{ site.url}}{{site.baseurl}}' ;
  </script>

  <!-- Jquery -->
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
    crossorigin="anonymous"
  ></script>
  <script src="{{site.url}}{{site.baseurl}}/assets/js/bootstrap.bundle.min.js"></script>
 <html>
</head>